@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Manrope', sans-serif;
}

:root{
    --primary-color: #131318;
    --secondary-color:#13131899;
    --white-color:#FFF;
    --btn-color:#FF4240;
    --btn-hover:#f83532;
    --secondary-font-size:16px;
    --mobile-font-size:14px;
}

a.active1,a:hover{
    color:var(--btn-color);
    transition: .4s;
}
.btn-primary1{
    color: var(--btn-color);
    font-size: var(--secondary-font-size);
    color: var(--white-color);
    background: var(--btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    padding: 15px 24px;
    display: inline-block;
}
.btn-primary1:hover{
    background: #cf4a08;
}

.btn-primary1:hover{
    background: var(--btn-hover);
    color: var(--white-color);
}

header, main{
    padding: 0 134px;
    transition: .5s;
}




/* Banner Section */
.align-text-img{
    position: relative;
}
.align-text{
    overflow: hidden;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-4%, -77%);
    background: #131318;
    padding: 2rem;
    color: var(--white-color);
    border-radius: 1rem;
}
.align-text2{
    overflow: hidden;
    width: 100%;
    background: #131318;
    padding: 1rem;
    color: var(--white-color);
    border-radius: .75rem;
}



/* Common header */
.common{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    text-align: center;
    margin: 100px auto 60px auto;
    max-width: 607px;
    
}

.common h3{
    grid-column: span 12;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.common p{
    grid-column: span 12;
    margin-bottom: 24px;
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
    margin-top: 0;
}

/* Program section */
.program-3rd-para{
    width: 520px!important;
}


/* Question section */
.divideall{
    width: 100%;
    height: 1px;
    border: 1px dashed rgba(19, 19, 24, 0.20);
    margin-top: 100px;
}





@media screen and (max-width:600px) {
    .btn-primary1{
        padding: 6px 15px;
        font-size: var(--mobile-font-size);
    }
    header, main{
        padding: 0 20px;
    }
    .align-text{
        position: absolute;
        background: #131318;
        padding: 1rem;
        color: var(--white-color);
        border-radius: .75rem;
    }
    .common h3{
        font-size: 22px;
        font-weight: 800;
    }
    .common p{
        font-size: 14px;
    }
    /* Radial Progress bar */
    .grid-cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    .width-card{
        width: 100%!important;
    }
    /* program section */
    .program-section {
        grid-template-columns: repeat(1, minmax(0, 1fr))!important;
    }
    .width-card{
        width: 100%!important;
    }
    /* Program section */
    .program-3rd-para{
    width: 100%!important;
}
}







@media screen and (min-width:600px) and (max-width:992px){

    header, main{
        padding: 0 80px;
    }
    .common h3{
        font-size: 32px!important;
    }
    /* Radial Progress bar */
    .grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}